@charset "UTF-8";
body {
    color: #333333;
    font: 0.8em/1.4 Tahoma,Arial,Helvetica,sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}
h1 {
    font-size: 1.6em;
}
.bella-main-title {
    margin-top: 0;
}
h2 {
    font-size: 1.2em;
}
h3, h4, h5, h6 {
    font-size: 1.1em;
}
p {
    margin-bottom: 0.9em;
    margin-top: 0.5em;
}
pre {
    font-size: 12px;
    padding: 0.75em 1.5em;
}
a {
    color: #CC0033;
    text-decoration: none;
}
table {
    width: 100%;
}
tr.odd td, tr.even td {
    padding: 0.3em;
}
#wrap {
    background: url("images/body_bg.png") repeat-x scroll left top #EEEEEE;
    margin: 0 auto;
    padding: 0;
}
#header {
    height: 142px;
    padding: 0;
    width: 100%;
}
#headertop {
    height: 97px;
    max-height: 97px;
}
#headertopwrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 1600px;
}
#headertopleft, #headertopright {
    height: 97px;
    width: 50%;
}
#headertopleft {
    float: left;
}
#headertopleft-left {
    float: left;
    height: inherit;
    padding: 0;
    position: relative;
    text-align: center;
    width: 50%;
}
#headertopleft-left a {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#headertopleft-right {
    background: url("images/header_logo_separator.png") no-repeat scroll left center transparent;
    float: left;
    height: inherit;
    width: 50%;
}
.bella-sitename, .bella-slogan-nositename {
    font-size: 22px;
    margin: 10px 0 0 15px;
    text-transform: uppercase;
}
.bella-slogan, .bella-mission {
    font-size: 20px;
    font-style: italic;
    margin: 0 0 0 15px;
}
#headertopright {
    float: right;
}
#headertopright #user-login-form * {
    display: inline;
}
#headertopright #search-block-form * {
    display: inline;
}
#headertopright #search-block-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #EEEEEE #EEEEEE;
    border-image: none;
    border-radius: 0 0 6px 6px;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    box-shadow: 0 3px 4px #111111;
    height: 32px;
    max-width: 370px;
    padding: 2px 5px 0;
}
#headertopright #search-block-form label {
    display: none;
}
#headertopright #search-block-form .form-submit, #headertopright #search-block-form .form-text {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    display: inline-block;
    font-size: 14px;
}
#headertopright #search-block-form .form-text {
    width: 280px;
}
#headertopright #search-block-form .form-submit {
    background: none repeat scroll 0 0 #B70125;
    border: 1px solid #B70125;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    float: right;
    padding: 1px 4px;
    text-transform: uppercase;
}
#headertopright #search-block-form .form-submit:hover {
    background-color: #000000;
    border-color: #000000;
}
#headertopright .headertopright-block-none #search {
    height: 30px;
    max-height: 30px;
}
#headertopright #user-login-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #EEEEEE #EEEEEE;
    border-image: none;
    border-radius: 0 0 6px 6px;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    box-shadow: 0 3px 4px #111111;
    height: 44px;
    padding: 0;
    width: 380px;
}
#headertopright #user-login-form .form-item-name label, #headertopright #user-login-form .form-item-pass label, #headertopright #search-block-form label {
    line-height: 1.5;
    margin-left: 3px;
    position: absolute;
}
#headertopright #user-login-form .form-item-name, #headertopright #user-login-form .form-item-pass {
    float: left;
    margin: 2px 5px;
}
#headertopright #user-login-form input.form-text, #headertopright #user-login-form input.form-text.required {
    padding: 0;
    width: 170px;
}
#headertopright #user-login-form ul, #headertopright #user-login-form #edit-remember-me-wrapper {
    float: left;
}
#headertopright #user-login-form #edit-remember-me-wrapper {
    margin: 0;
}
#headertopright #user-login-form li.first {
    margin-left: 5px;
}
#headertopright #user-login-form .form-submit {
    background: none repeat scroll 0 0 #B70125;
    border: 1px solid #B70125;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    float: right;
    margin-right: 20px;
    padding: 1px 4px;
    text-transform: uppercase;
}
#headertopright #user-login-form .form-submit:hover {
    background: none repeat scroll 0 0 #000000;
    border-color: #000000;
    color: #B70125;
}
#toplinks {
    clear: left;
    float: left;
    height: 32px;
    padding-top: 0;
    text-align: right;
}
#toplinks .toplinkswrap {
    float: right;
    height: 32px;
    margin: 0;
    padding: 0;
}
#toplinks .sociallinks {
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
}
#toplinks .facebook {
    background: url("images/facebook_32.png") no-repeat scroll center center transparent;
}
#toplinks .twitter {
    background: url("images/twitter_32.png") no-repeat scroll center center transparent;
}
#toplinks .instagram {
    background: url("images/instagram_32.png") no-repeat scroll center center transparent;
}
#toplinks .pinterest {
    background: url("images/pinterest_32.png") no-repeat scroll center center transparent;
}
#toplinks .vimeo {
    background: url("images/vimeo_32.png") no-repeat scroll center center transparent;
}
#toplinks .googleplus {
    background: url("images/googleplus_32.png") no-repeat scroll center center transparent;
}
#toplinks .linkedin {
    background: url("images/linkedin_32.png") no-repeat scroll center center transparent;
}
#toplinks .youtube {
    background: url("images/youtube_32.png") no-repeat scroll center center transparent;
}
#toplinks .flickr {
    background: url("images/flickr_32.png") no-repeat scroll center center transparent;
}
#toplinks .tumblr {
    background: url("images/tumblr_32.png") no-repeat scroll center center transparent;
}
#toplinks .rss {
    background: url("images/rss_32.png") no-repeat scroll center center transparent;
}
#toplinks .skype {
    background: url("images/skype_32.png") no-repeat scroll center center transparent;
}
#menurow, #menu {
    height: 43px;
    margin: 0;
    padding: 0;
}
#subheader, #subheadertr, #subheadertd {
    height: 100px;
    max-height: 100px;
    vertical-align: middle;
}
#subheadertd {
    background: url("images/subheaderbg.png") repeat-x scroll left top #EEEEEE;
    padding-bottom: 10px;
}
#subheadertd .block {
    margin-bottom: 0;
    max-height: 100px;
    padding-bottom: 0;
}
#navlist {
    height: inherit;
    list-style: none outside none;
    margin: 0 0 0 200px;
}
#navlist li {
    float: left;
    height: inherit;
    margin-left: 0;
    margin-right: 0;
    min-width: 80px;
    text-align: center;
}
#navlist li a {
    border-left: 2px solid #000000;
    color: #FFFFFF;
    display: block;
    height: inherit;
    line-height: 3.3 !important;
    text-shadow: 2px 2px 1px #000000;
    width: inherit;
}
#navlist li a.active, #navlist li a.active:hover, #navlist li a.active:focus {
    background-color: #B70125;
}
#navlist li a:hover, #navlist li a:focus {
    background-color: #000000;
}
#main-menu-wrap {
    height: 43px;
    margin: 0 0 0 200px;
    padding: 0;
    position: absolute;
}
#main-menu-wrap * {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
#main-menu-wrap #main-menu-outer-ul ul {
    height: inherit;
    list-style: none outside none;
}
#main-menu-wrap #main-menu-outer-ul li {
    border: medium none;
    display: inline-block;
    float: left;
    height: inherit;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 80px;
}
#main-menu-wrap #main-menu-outer-ul li a {
    border-left: 2px solid #000000;
    color: #FFFFFF;
    display: block;
    height: inherit;
    line-height: 3.3 !important;
    margin: 0;
    text-decoration: none;
    text-shadow: 2px 2px 1px #000000;
    width: inherit;
}
#main-menu-wrap #main-menu-outer-ul li a.active {
    background-color: #B70125;
}
#main-menu-wrap #main-menu-outer-ul li a:hover, #main-menu-wrap #main-menu-outer-ul li a:focus {
    background-color: #000000;
}
#main-menu-wrap #main-menu-outer-ul li a.active:hover {
    background-color: #B70125;
}
#main-menu-wrap #main-menu-outer-ul li li, #main-menu-wrap #main-menu-outer-ul li:hover li {
    left: 10px;
    margin: 0;
    min-width: 200px;
    padding: 0;
    position: relative;
    text-decoration: none;
    top: 0;
}
#main-menu-wrap #main-menu-outer-ul li li a, #main-menu-wrap #main-menu-outer-ul li:hover li a {
    background: none no-repeat scroll center top #000000;
    color: #FFFFFF;
    margin: 0;
    min-width: 200px;
    padding-left: 5px;
    text-decoration: none;
}
#main-menu-wrap #main-menu-outer-ul li li a:hover, #main-menu-wrap #main-menu-outer-ul li:hover li a:hover {
    background: none no-repeat scroll center top #333333;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
}
#main-menu-wrap ul#main-menu-outer-ul {
    display: inline-block;
    height: inherit;
    padding: 0;
}
#main-menu-wrap ul#main-menu-outer-ul li {
    height: inherit;
    text-align: center;
}
#main-menu-wrap ul#main-menu-outer-ul li ul li {
    text-align: left;
}
#subnavlist {
    height: 10px;
    text-align: center;
}
#subnavlist li {
    border: medium none;
    display: inline-block;
}
.block, .box {
    padding: 0 0 1.5em;
}
.block {
    padding-bottom: 0.75em;
}
.bella-block-h2 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0.25em;
    text-transform: uppercase;
}
.box .title {
    font-size: 1.1em;
}
#content {
    display: block;
}
#content .block h2 {
    margin-bottom: 2px;
    margin-top: 0;
}
#mission {
    color: #CC0033;
    font-size: large;
    padding: 0 0.5em;
    text-align: center;
    text-shadow: 1px 1px 1px #BBBBBB;
}
#main, #sidebar-left, #sidebar-right {
    float: left;
}
#main {
    min-height: 500px;
}
#main-inner-wrap {
    padding: 5px;
}
#content-top {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AA0000;
    clear: both;
    margin: 0 auto 20px;
    max-width: 849px;
}
#sidebar-left, #sidebar-right {
    background: none repeat scroll 0 0 #E5E5E5;
    padding: 5px;
}
#sidebar-left {
    max-width: 17%;
    width: 300px;
}
#sidebar-right {
    float: right;
    max-width: 20%;
    width: 400px;
}
#sidebar-left .block, #sidebar-right .block {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 1px #CCCCCC;
    margin-bottom: 0.25em;
    margin-top: 0.1em;
    padding: 5px;
}
#sidebar-left .block {
    margin-left: 0.15em;
    margin-right: 0;
}
#sidebar-right .block {
    margin-left: 0;
    margin-right: 0;
}
#main {
    width: 100%;
}
.one-sidebar #main {
    max-width: 77%;
}
.two-sidebars #main {
    max-width: 60%;
}
#bella-breadcrumb {
    background: none repeat scroll 0 0 #AAAAAA;
    border: 2px ridge #333333;
    font-size: smaller;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 5px 0;
    text-transform: uppercase;
}
.node .user-picture {
    border: 1px solid #DDDDDD;
    float: right;
    margin: 0.5em;
}
.node-odd, .node-even {
    padding: 0 0.3em;
}
#main .node-odd .user-picture, #main .node-even .user-picture {
    border: medium none;
    float: left;
    padding: 0 5px 0 0;
}
.node-list-separator {
    box-shadow: 0 0 2px #333333;
    color: #FFFFFF;
    height: 1px;
    margin-bottom: 15px;
    width: 100%;
}
div.messages.warning {
    background: none repeat scroll 0 0 #DDDD99;
    border: 1px solid #DDDD99;
}
div.messages.status {
    background: none repeat scroll 0 0 #CCDDCC;
    border: 1px solid #CCDDCC;
    color: #006600;
}
#block-system-help {
    background: none repeat scroll 0 0 #EEEEFF;
    border: 1px ridge #0000AA;
}
#block-system-help p {
    padding: 0 10px;
}
.messages.status a {
    font-weight: bold;
}
.form-text, .form-textarea {
    border: 1px solid #999999;
    color: #CC0033;
    padding: 2px;
}
.form-submit {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    color: #000000;
    padding: 5px;
    text-transform: uppercase;
}
.form-submit:hover {
    cursor: pointer;
}
select.form-select {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    padding: 2px;
}
ul.tabs.primary li {
    margin: 0 -4px;
}
ul.tabs.primary li a, ul.tabs.primary li a.active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #CCCCCC;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 0;
    padding: 0 5px;
}
ul.tabs.primary li a.active, ul.tabs.primary li a:hover, ul.tabs.primary li a:focus, ul.tabs.primary li a.active:hover, ul.tabs.primary li a.active:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #B70125;
    border-color: #B70125 #B70125 -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #FFFFFF;
}
#bottom {
    background: none repeat scroll 0 0 #EEEEEE;
    width: 100%;
}
#bottom1, #bottom2, #bottom3, #bottom4 {
    width: 240px;
}
#footer {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    min-height: 40px;
    padding: 5px;
    position: relative;
}
#footer a {
    color: #FFFFFF;
}
#footer .block {
    margin-bottom: 0;
    padding-bottom: 0;
}
#footermsg {
    color: #777777;
    font-size: smaller;
    padding: 10px;
}
#footermsg a {
    color: #CC0033;
}
#footerlinks {
    font-size: smaller;
    text-align: center;
    text-transform: uppercase;
}
.submitted {
    color: #999999;
    font-size: 0.8em;
}
.node {
    margin: 0.5em 0 2em;
}
.node .content, .comment .content {
    margin: 0.5em 0;
}
.node .taxonomy {
    color: #999999;
    font-size: 0.8em;
    padding-left: 1.5em;
    text-align: right;
}
.node .picture {
    border: 1px solid #DDDDDD;
    float: right;
    margin: 0.5em;
}
.comment {
    border: 1px solid #AABBCC;
    margin-bottom: 1em;
    padding: 0.5em;
}
.comment .title a {
    font-size: 1.1em;
    font-weight: normal;
}
.comment .new {
    color: #FF0000;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}
.comment .picture {
    border: 1px solid #AABBCC;
    float: right;
    margin: 0.5em;
}
div.admin-panel .description {
    color: #999999;
}
div.admin-panel .body {
    background: none repeat scroll 0 0 #F4F4F4;
}
div.admin-panel h3 {
    background-color: #B70125;
    color: #FFFFFF;
    margin: 0;
    padding: 5px 8px;
}
ul.pager a {
    border: medium none;
    color: #B70125;
}
ul.pager .pager-current {
    color: #999999;
}
.preview .node {
    background: url("images/prev.png") no-repeat scroll center center #FFFFFF;
}
.node-unpublished, .comment-unpublished {
    background: url("images/unpublished.png") no-repeat scroll center top #FFFFFF;
}
.admin-panel {
    color: #555555;
}
.block-region {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
ul.pager {
    font-size: x-small;
}
